<!-- <app-navbar></app-navbar> -->


<!-- <app-login></app-login> -->
<router-outlet></router-outlet>

<!-- <app-home></app-home> -->

<!-- <router-outlet name="aux"></router-outlet> Auxiliary outlet -->


<!-- <app-slider> </app-slider> -->

<!-- <app-banner></app-banner> -->

<!-- <app-overview></app-overview>

<app-products></app-products> -->

<!-- <app-product-details></app-product-details> -->

<!-- <app-shopping-cart></app-shopping-cart> -->

<!-- <app-product-information></app-product-information> -->

<!-- <app-login></app-login> -->

<!-- <app-register></app-register> -->

<!-- <app-product-table></app-product-table> <router-outlet></router-outlet> -->

<!-- <app-product-form></app-product-form> <router-outlet></router-outlet> -->

<!-- <app-footer></app-footer>  -->