<app-navbar></app-navbar>

<div class="mt-5 container mb-5">
    <h1 class="text-muted text-center">Our Products</h1>
    <form class="d-flex justify-content-between">
      <button class="btn bg-dark text-white mt-2" style="font-family: Poppins-Bold;" [routerLink]="['/products',0,'add']">Add Product</button>
      <div class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchText" name="searchText" (input)="filter()">
        <button class="btn bg-dark text-white" type="button" style="font-family: Poppins-Bold;" (click)="filter()">Search</button>
      </div>
    </form>
    <div class="row mt-4 mb-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Visible</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <th scope="row">{{ product.id }}</th>
            <td>{{ product.name }}</td>
            <td scope="col" class="ms-2">{{ product.price }}</td>
            <td>{{ product.inStockQuantity}}</td>
            <td> <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [checked]="product.visible" disabled>
            </div></td>
            <td>
              <i
                class="mx-1 fs-5 text-info bi bi-pencil-square"
                [routerLink]="['/products',product.id,'add']"
              ></i>
              <i
                class="mx-1 fs-5 text-danger bi bi-trash3-fill"
                (click)="deleteProduct(product.id)"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
 